alive-progress==3.1.5
black==24.2.0
chromadb==0.4.24
cryptography==42.0.5
cython==3.0.8
ipython==8.22.1
isort==5.13.2
langchain==0.1.9
langchain-community==0.0.24
pypdf==4.0.2
python-dotenv==1.0.1
pyupgrade==3.15.1
